<!DOCTYPE html>
<html lang="en">
<head>
  <title>Public Transportation Arrival Times</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" type="text/css" href="/css/screen.css">
</head>
<body>
  <h1>Find your CTA train arrival times</h1>
  <p>
    The time is the closet train arriving at the chosen station.
  <p>
  <form method="post" action="/" id="stationform">
    <!-- action:#null method=get -->
    <label for="mapid">Station</label>
    <select name="station" id="mapid">
      <option value="40830">18th</option>
      <option value="41120">35-Bronzeville-IIT</option>
      <option value="40120">35th/Archer</option>
      <option value="41270">43rd</option>
      <option value="41080">47th(Green)</option>
      <option value="41230">47th(Red)</option>
      <option value="40130">51st</option>
      <option value="40580">54th/Cermak</option>
      <option value="40910">63rd</option>
      <option value="40990">69th</option>
      <option value="40240">79th</option>
      <option value="41430">87th</option>
      <option value="40450">95th</option>
      <option value="40680">Adams/Wabash</option>
      <option value="41240">Addison(Blue)</option>
      <option value="41440">Addison(Brown)</option>
      <option value="41420">Addison(Red)</option>
      <option value="41200">Argyle</option>
      <option value="40660">Armitage</option>
      <option value="40290">Ashland/63rd</option>
      <option value="40170">Ashland(Green/Pink)</option>
      <option value="41060">Ashland(Orange)</option>
      <option value="40010">Austin(Blue)</option>
      <option value="41260">Austin(Green)</option>
      <option value="41320">Belmont(Red,Brown,Purple)</option>
      <option value="40060">Belmot(Blue)</option>
      <option value="40340">Berwyn</option>
      <option value="41380">Bryn Mawr</option>
      <option value="40440">California(Pink)</option>
      <option value="41360">California(Green)</option>
      <option value="40570">California(Blue)</option>
      <option value="40780">Central Park</option>
      <option value="40280">Central(Green)</option>
      <option value="41250">Central(Purple)</option>
      <option value="41000">Cermak-Chinatown</option>
      <option value="41410">Chicago(Blue)</option>
      <option value="40710">Chicago(Brown)</option>
      <option value="41450">Chicago(Red)</option>
      <option value="40420">Cicero(Pink)</option>
      <option value="40970">Cicero(Blue)</option>
      <option value="40480">Cicero(Green)</option>
      <option value="40630">Clark/Divison</option>
      <option value="40380">Clark/Lake</option>
      <option value="40430">Clinton(Blue)</option>
      <option value="41160">Clinton(Green)</option>
      <option value="41670">Conservatory</option>
      <option value="40230">Cumberland</option>
      <option value="40090">Damen(Brown)</option>
      <option value="40210">Damen(Pink)</option>
      <option value="40590">Damen(Blue)</option>
      <option value="40050">Davis</option>
      <option value="40690">Dempster</option>
      <option value="40140">Dempster-Skokie</option>
      <option value="40530">Diversey</option>
      <option value="40320">Division</option>
      <option value="40720">Cottage Grove</option>
      <option value="40390">Forest Park</option>
      <option value="40520">Foster</option>
      <option value="40870">Francisco</option>
      <option value="41220">Fullerton</option>
      <option value="40510">Garfield(Green)</option>
      <option value="41170">Garfield(Red)</option>
      <option value="40490">Grand(Blue)</option>
      <option value="40333">Grand(Red)</option>
      <option value="40760">Granville</option>
      <option value="40940">Halsted(Green)</option>
      <option value="41130">Halsted(Orange)</option>
      <option value="40980">Harlem(Blue-ForestPark)</option>
      <option value="40020">Harlem(Green)</option>
      <option value="40750">Harlem(Blue-O'Hare)</option>
      <option value="40850">Harold Washington Library-State/Van Buren</option>
      <option value="41490">Harrison</option>
      <option value="40900">Howard</option>
      <option value="40810">Illinois Medical District</option>
      <option value="40300">Indiana</option>
      <option value="40550">Irving Park(Blue)</option>
      <option value="41460">Irving Park(Brown)</option>
      <option value="40070">Jackson(Blue)</option>
      <option value="40560">Jackson(Brown)</option>
      <option value="41190">Jarvis</option>
      <option value="41280">Jefferson Park</option>
      <option value="41180">Kedzie(Brown)</option>
      <option value="41040">Kedzie(Pink)</option>
      <option value="41070">Kedzie(Green)</option>
      <option value="40250">Kedzie-Homan(Blue)</option>
      <option value="41150">Kedzie(Orange)</option>
      <option value="41290">Kimball</option>
      <option value="41140">King Drive</option>
      <option value="40600">Kostner</option>
      <option value="41660">Lake</option>
      <option value="40700">Laramie</option>
      <option value="41340">LaSalle</option>
      <option value="40160">LaSalle/Van Buren</option>
      <option value="40770">Lawrence</option>
      <option value="41050">Linden</option>
      <option value="41020">Logan Square</option>
      <option value="41300">Loyola</option>
      <option value="40270">Main</option>
      <option value="40930">Midway</option>
      <option value="40790">Monroe(Blue)</option>
      <option value="41090">Monroe(Red)</option>
      <option value="41330">Montrose(Blue)</option>
      <option value="41500">Montrose(Brown)</option>
      <option value="41510">Morgan</option>
      <option value="40100">Morse</option>
      <option value="40650">North/Clybourn</option>
      <option value="40400">Noyes</option>
      <option value="40180">Oak Park(Blue)</option>
      <option value="41350">Oak Park(Green)</option>
      <option value="41680">Oakton-Skokie</option>
      <option value="40890">O'Hare</option>
      <option value="41310">Paulina</option>
      <option value="41030">Polk</option>
      <option value="40150">Pulaski(Pink)</option>
      <option value="40920">Pulaski(Blue)</option>
      <option value="40030">Pulaski(Green)</option>
      <option value="40960">Pulaski(Orange)</option>
      <option value="40040">Quincy/Wells</option>
      <option value="40470">Racine</option>
      <option value="40200">Randolph/Wabash</option>
      <option value="40610">Ridgeland</option>
      <option value="41010">Rockwell</option>
      <option value="41400">Roosevelt</option>
      <option value="40820">Rosemont</option>
      <option value="40800">Sedgwick</option>
      <option value="40080">Sheridan</option>
      <option value="40940">South Boulevard</option>
      <option value="40360">Southport</option>
      <option value="40190">Sox-35th</option>
      <option value="40260">State/Lake</option>
      <option value="40880">Thorndale</option>
      <option value="40350">UIC-Halsted</option>
      <option value="40730">Washington/Wells</option>
      <option value="40370">Washington</option>
      <option value="41210">Wellington</option>
      <option value="41480">Western(Brown)</option>
      <option value="40740">Western(Pink)</option>
      <option value="40220">Western(Blue-Forest Park)</option>
      <option value="40670">Western(Blue-O'Hare)</option>
      <option value="40310">Western(Orange)</option>
      <option value="40540">Wilson</option>
    </select>
    <input type="submit" value="Find arrivals"/>
  </form>
  <% if(arrT !== null){ %>
          <ul><%= arrT %></ul>
        <% } %>

  <% if(error !== null){ %>
          <ul><%= error %></ul>
        <% } %>
</body>
</html>
