<!DOCTYPE html>
<html lang="en">
<head>
  <title>Public Transportation Arrival Times</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" type="text/css" href="/css/screen.css">
</head>
<body>
  <h1>Find your nears trasportation arrival times</h1>
  <form method="post" action="/" id= "stationform"> - action:#null method=get
    <label for= "Station">Station</label>
    <input class= "input" type="text" name="mapid" id="mapid" />
    <input type="submit" name="submit" class="input" id="submit" value="Find arrivals"/>

    label for "station"
    select name="" id="station"
      option value "111">Washington/wells</option

  </form>
  <% if(arrT !== null){ %>
          <p><%= arrT %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
</body>
</html>
